---
image: registry.git.coop/webarch/containers/images/ansible:0.14.0
variables:
  PY_COLORS: "1"
  ANSIBLE_FORCE_COLOR: "1"
before_script:
  - chmod 700 $(pwd)
stages:
  - lint
lint:
  stage: lint
  script:
    - molecule lint
# vim: syntax=yaml
...
