---
extends: default
yaml-files:
  - '*.yaml'
  - '*.yml'
rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  comments-indentation: disable
# vim: syntax=yaml
...
