---
- name: Add Matomo site
  block:

    - name: Check that required variables are defined
      ansible.builtin.assert:
        that:
          - ( matomo_url is defined ) and ( matomo_url | length > 0 ) and ( matomo_url is regex("^http[s]*:\/\/.*$") )
          - ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )
          - ( matomo_site_name is defined ) and ( matomo_site_name | length > 0 )
          - ( matomo_site_main_url is defined ) and ( matomo_site_main_url | length > 0 )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"

    - name: Ensure that matomo_site_urls start with http(s)://
      ansible.builtin.assert:
        that:
          - ( url is regex("^http[s]*:\/\/.*$") )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
      loop: "{{ matomo_site_urls }}"
      loop_control:
        loop_var: url
      when: ( matomo_site_urls is defined ) and ( matomo_site_urls[0] is defined )

    - name: Set a fact for the add site POST data in JSON
      ansible.builtin.set_fact:
        matomo_add_site_json: "{{ lookup('template', 'add_site.json.j2') }}"

    - name: Debug add site POST data JSON
      ansible.builtin.debug:
        var: matomo_add_site_json
        verbosity: 2

    - name: "Add Matomo site {{ matomo_site_name }} with main URL {{ matomo_site_main_url }}"
      ansible.builtin.uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body: "{{ matomo_add_site_json }}"
        status_code: 200
        return_content: true
      register: matomo_add_site
      failed_when: ( matomo_add_site.failed is defined and matomo_add_site.failed ) or ( matomo_add_site.json is defined and matomo_add_site.json.value is not regex("^[0-9]{1,6}$") )

    - name: Debug matomo_add_site
      ansible.builtin.debug:
        var: matomo_add_site
        verbosity: 2

    - name: Set a variable for the ID of the added site
      ansible.builtin.set_fact:
        matomo_site_id: "{{ matomo_add_site.json.value }}"

  tags:
    - matomo
...
