# Copyright 2018-2025 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Add Matomo site
  block:

    - name: Check that required variables are defined
      ansible.builtin.assert:
        that:
          - (matomo_url is defined) and (matomo_url | length > 0) and (matomo_url is regex("^http[s]*:\/\/.*$"))
          - (matomo_token_auth is defined) and (matomo_token_auth | length > 0)
          - (matomo_site_name is defined) and (matomo_site_name | length > 0)
          - (matomo_site_main_url is defined) and (matomo_site_main_url | length > 0)
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
        fail_msg: >-
          The matomo_url is set to '{{ matomo_url }}'.
          The matomo_token_auth is set to '{{ matomo_token_auth }}'.
          The matomo_site_name is set to '{{ matomo_site_name }}'.
          The matomo_site_main_url is set to '{{ matomo_site_main_url }}'.

    - name: Debug matomo_site_urls
      ansible.builtin.debug:
        var: matomo_site_urls
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      when: matomo_site_urls is defined
      tags:
        - debug

    - name: Ensure that matomo_site_urls start with http(s)://
      ansible.builtin.assert:
        that:
          - ( url is regex("^http[s]*:\/\/.*$") )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
        fail_msg: "The matomo_site_urls is set to '{{ matomo_site_urls }}'."
      loop: "{{ matomo_site_urls }}"
      loop_control:
        loop_var: url
      when:
        - matomo_site_urls is defined
        - matomo_site_urls != []
        - matomo_site_urls | ansible.builtin.type_debug == "list"

    - name: Set a fact for the add site POST data in JSON
      ansible.builtin.set_fact:
        matomo_add_site_json: "{{ lookup('template', 'add_site.json.j2') }}"

    - name: Debug add site POST data JSON
      ansible.builtin.debug:
        var: matomo_add_site_json
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Add Matomo site in a block
      block:

        - name: "Add Matomo site {{ matomo_site_name }} with main URL {{ matomo_site_main_url }}"
          ansible.builtin.uri:
            url: "{{ matomo_url }}"
            method: POST
            body_format: form-urlencoded
            body: "{{ matomo_add_site_json }}"
            status_code: 200
            return_content: true
            use_netrc: false
          become: true
          become_user: "{{ matomo_user }}"
          delegate_to: "{{ inventory_hostname }}"
          changed_when: true
          register: matomo_add_site
          failed_when: >-
            (matomo_add_site.failed is defined and matomo_add_site.failed) or
            (matomo_add_site.json is defined and matomo_add_site.json.value is not regex("^[0-9]{1,6}$")) or
            (matomo_add_site.json is not defined)

      rescue:

        - name: Debug add site POST data JSON
          ansible.builtin.debug:
            var: matomo_add_site_json

        - name: Debug matomo_add_site
          ansible.builtin.debug:
            var: matomo_add_site

        - name: Adding a site failed
          ansible.builtin.fail:

    - name: Set a variable for the ID of the added site
      ansible.builtin.set_fact:
        matomo_site_id: "{{ matomo_add_site.json.value }}"

    - name: Debug matomo_site_id
      ansible.builtin.debug:
        var: matomo_site_id
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

  tags:
    - matomo
...
