---
- name: Print the matomo_site_name and matomo_site_main_url variables
  debug:
    msg:
      - "The matomo_site_name variable contains: {{ matomo_site_name }}"
      - "The matomo_site_main_url variable contains: {{ matomo_site_main_url }}"
    verbosity: 1
  tags:
    - matomo
    - users-update

- name: Fail if a matomo_site_name is not provided
  fail:
    msg: "A value for matomo_site_name needs to be provided"
  when: ( matomo_site_name is not defined ) or ( matomo_site_name == "" )
  tags:
    - matomo
    - users-update

- name: Fail if a matomo_site_main_url is not provided
  fail:
    msg: "A value for matomo_site_main_url needs to be provided"
  when: ( matomo_site_main_url is not defined ) or ( matomo_site_main_url == "" )
  tags:
    - matomo
    - users-update

- name: Include the site check tasks
  include_tasks: check_site.yml
  tags:
    - matomo
    - users-update

- name: Print the matomo_site_urls
  debug:
    msg: "matomo_site_urls: {{ matomo_site_urls }}"
    verbosity: 1
  when: ( matomo_site_urls is defined ) and ( matomo_site_urls != [] or matomo_site_urls != "" )
  tags:
    - matomo
    - users-update

- name: "Add {{ matomo_site_main_url }} to the Matomo server"
  block:

    - name: Add Matomo site
      shell: "php console site:add --no-ansi -n --name='{{ matomo_site_name }}' --urls='{{ matomo_site_main_url }}'"
      args:
        executable: /bin/bash
        chdir: "{{ matomo_html }}"
      register: matomo_addsite_result
      changed_when: '"Site added" in matomo_addsite_result.stdout'
      become: true
      become_user: "{{ matomo_user }}"
      tags:
        - matomo
        - users-update

  when: matomo_site_main_url not in matomo_site_urls 

# Get the matomo_site_main_url siteid
#
# Get the table rowns matching the matomo_site_main_url siteid urls
#
# Get the difference between the matomo_site_main_url siteid urls and the Apache Aliases
#
# Add missing Apache Aliases to the matomo_site_main_url siteid urls table
