---
- name: Print the matomo_site_name and matomo_site_main_url variables
  debug:
    msg:
      - "The matomo_site_name variable contains: {{ matomo_site_name }}"
      - "The matomo_site_main_url variable contains: {{ matomo_site_main_url }}"
    verbosity: 1
  tags:
    - matomo
    - users-update

- name: Print the matomo_site_urls if defined
  debug:
    msg: "The matomo_site_urls array contains: {{ matomo_site_urls }}"
    verbosity: 1
  when: ( matomo_site_urls is defined ) and ( matomo_site_urls != [] )
  tags:
    - matomo
    - users-update

- name: Check that the variables needed are set
  assert:
    that:
      - matomo_site_name is defined
      - matomo_site_main_url is defined
  tags:
    - matomo
    - users-update

- name: Include the check sites tasks
  include_tasks: check_sites.yml
  tags:
    - matomo
    - users-update

- name: "Add {{ matomo_site_name }} to the Matomo server"
  block:

    - name: Set matomo_urls for the console site:add command
      set_fact:
        matomo_urls: "{{ matomo_site_main_url }}{% for u in matomo_site_urls %}, {{ u }}{% endfor %}"
      tags:
        - matomo
        - users-update

    - name: Print the matomo_urls
      debug:
        msg: "matomo_urls: '{{ matomo_urls }}'"
        verbosity: 1
      tags:
        - matomo
        - users-update

    - name: Add Matomo site
      shell: "php console site:add --no-ansi -n --name='{{ matomo_site_name | quote }}' --urls='{{ matomo_urls }}'"
      args:
        executable: /bin/bash
        chdir: "{{ matomo_html }}"
      register: matomo_addsite_result
      changed_when: '"Site added" in matomo_addsite_result.stdout'
      become: true
      become_user: "{{ matomo_user }}"
      tags:
        - matomo
        - users-update

  when: matomo_site_name not in matomo_sites_names

- name: Include the idsite tasks, this sets matomo_idsite
  include_tasks: idsite.yml
  tags:
    - matomo
    - users-update

- name: "Conditionally check and add the {{ matomo_site_name }} site_urls"
  include_tasks: addurls.yml
  when:
    - ( matomo_site_urls is defined ) and ( matomo_site_urls != "" )
    - ( matomo_idsite is defined ) and ( matomo_idsite != "" )
  tags:
    - matomo
    - users-update

- name: "Check if {{ matomo_site_admin }} is already super user"
  shell: "IFS=$'\n' ; php console user:list --no-ansi -n | grep '\[super user\]' | awk '{ print $2 }'"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  register: matomo_superuser
  changed_when: false
  check_mode: false
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
    - users-update

- name: "Grant admin access for {{ matomo_site_admin }} to {{ matomo_site_name }}"
  command: "php console user:access --no-ansi -n --login='{{ matomo_site_admin | quote }}' --access='admin' --sites='{{ matomo_idsite | quote }}'"
  args:
    chdir: "{{ matomo_html }}"
  become: true
  become_user: "{{ matomo_user }}"
  when:
    - ( matomo_site_admin is defined ) and ( matomo_site_admin != "" )
    - ( matomo_superuser.stdout != matomo_site_admin )
    - ( matomo_idsite is defined ) and ( matomo_idsite != "" )
  tags:
    - matomo
    - users-update
...
