---
- name: Print the matomo_site_name and matomo_site_main_url variables
  debug:
    msg:
      - "The matomo_site_name variable contains: {{ matomo_site_name }}"
      - "The matomo_site_main_url variable contains: {{ matomo_site_main_url }}"
    verbosity: 1
  tags:
    - matomo
    - users-update

- name: Fail if a matomo_site_name is not provided
  fail:
    msg: "A value for matomo_site_name needs to be provided"
  when: ( matomo_site_name is not defined ) or ( matomo_site_name == "" )
  tags:
    - matomo
    - users-update

- name: Fail if a matomo_site_main_url is not provided
  fail:
    msg: "A value for matomo_site_main_url needs to be provided"
  when: ( matomo_site_main_url is not defined ) or ( matomo_site_main_url == "" )
  tags:
    - matomo
    - users-update

- name: Include the site check tasks
  include_tasks: check_site.yml
  tags:
    - matomo
    - users-update

- name: Print the matomo_site_urls
  debug:
    msg: "matomo_site_urls: {{ matomo_site_urls }}"
    verbosity: 1
  when: ( matomo_site_urls is defined ) and ( matomo_site_urls != [] or matomo_site_urls != "" )
  tags:
    - matomo
    - users-update

- name: "Add {{ matomo_site_main_url }} to the Matomo server"
  block:

    - name: Add Matomo site
      shell: "php console site:add --no-ansi -n --name='{{ matomo_site_name }}' --urls='{{ matomo_site_main_url }}'"
      args:
        executable: /bin/bash
        chdir: "{{ matomo_html }}"
      register: matomo_addsite_result
      changed_when: '"Site added" in matomo_addsite_result.stdout'
      become: true
      become_user: "{{ matomo_user }}"
      tags:
        - matomo
        - users-update

  when: matomo_site_main_url not in matomo_site_urls

- name: Get the matomo_site_main_url idsite
  command: 'mysql {{ matomo_db_name }} --skip-column-names --batch -e "SELECT idsite FROM {{ matomo_table_prefix }}site WHERE main_url=\"{{ matomo_site_main_url | quote }}\""'
  args:
    chdir: "{{ matomo_html }}/"
  changed_when: false
  check_mode: false
  become: true
  become_user: "{{ matomo_user }}"
  register: matomo_idsite_check
  tags:
    - matomo
    - users-update

- name: Set a variable for matomo_idsite
  set_fact:
    matomo_idsite: matomo_idsite_check.stdout
  tags:
    - matomo
    - users-update

- name: Set matomo_idsite_urls to an empty array
  set_fact:
    matomo_idsite_urls: []
  tags:
    - matomo
    - users-update

- name: Get the table rows matching the matomo_site_main_url idsite urls
  command: "mysql {{ matomo_db_name }} --skip-column-names --batch -e 'SELECT url FROM site_urls WHERE idsite={{ matomo_idsite | quote }}'"
  args:
    chdir: "{{ matomo_html }}/"
  changed_when: false
  check_mode: false
  become: true
  become_user: "{{ matomo_user }}"
  register: matomo_idsite_urls_check
  tags:
    - matomo
    - users-update

- name: Set an array for the Matomo site url's
  set_fact:
    matomo_idsite_urls: "{{ matomo_idsite_urls }} + [ {{ url }} ]"
  loop: "{{ matomo_idsite_urls_check.stdout_lines }}"
  loop_control:
    loop_var: url
  tags:
    - matomo
    - users-update

- name: Print the Matomo existing site url's
  debug:
    msg: "Matomo site url's: {{ matomo_idsite_urls }}"
    verbosity: 1
  tags:
    - matomo
    - users-update

# ./users/tasks/mariadb_user_present.yml:    users_mariadb_delete_list: "{{ users_mariadb_list.stdout_lines | difference(item.value.users_mariadb_databases) }}"
- name: Get the difference between the matomo_site_main_url idsite urls and the Apache Aliases
  set_fact:
    matomo_missing_urls: "{{ matomo_site_urls | difference(matomo_idsite_urls) }}"
  tags:
    - matomo
    - users-update

- name: Print the missing URLs
  debug:
    msg: "matomo_missing_urls: {{ matomo_missing_urls }}"
    verbosity: 1
  tags:
    - matomo
    - users-update

# Add missing Apache Aliases to the matomo_site_main_url idsite urls table
