---
- name: Print the matomo_site_name and matomo_site_main_url variables
  debug:
    msg:
      - "The matomo_site_name variable contains: {{ matomo_site_name }}"
      - "The matomo_site_main_url variable contains: {{ matomo_site_main_url }}"
    verbosity: 1
  tags:
    - matomo
    - users-update

- name: Fail if a matomo_site_name is not provided
  fail:
    msg: "A value for matomo_site_name needs to be provided"
  when: ( matomo_site_name is not defined ) or ( matomo_site_name == "" )
  tags:
    - matomo
    - users-update

- name: Fail if a matomo_site_main_url is not provided
  fail:
    msg: "A value for matomo_site_main_url needs to be provided"
  when: ( matomo_site_main_url is not defined ) or ( matomo_site_main_url == "" )
  tags:
    - matomo
    - users-update

- name: Include the check sites tasks
  include_tasks: check_sites.yml
  tags:
    - matomo
    - users-update

- name: Print the matomo_sites_names variable if it is defined
  debug:
    msg:
      - "The matomo_sites_names variable contains: {{ matomo_sites_names }}"
    verbosity: 1
  when: matomo_sites_names is defined
  tags:
    - matomo
    - users-update

- name: "Add {{ matomo_site_name }} to the Matomo server"
  block:

    - name: Set matomo_urls for the console site:add command
      set_fact:
        matomo_urls: "{{ matomo_site_main_url }}{% for u in matomo_site_urls %}, {{ u }}{% endfor %}"
      tags:
        - matomo
        - users-update

    - name: Print the matomo_urls
      debug:
        msg: "matomo_urls: {{ matomo_urls }}"
        verbosity: 1
      tags:
        - matomo
        - users-update

    - name: Add Matomo site
      command: "php console site:add --no-ansi -n --name='{{ matomo_site_name | quote }}' --urls='{{ matomo_urls | quote }}'"
      args:
        chdir: "{{ matomo_html }}"
      register: matomo_addsite_result
      changed_when: '"Site added" in matomo_addsite_result.stdout'
      become: true
      become_user: "{{ matomo_user }}"
      tags:
        - matomo
        - users-update

  when: matomo_site_name not in matomo_sites_names

- name: "Get the idsite for {{ matomo_site_name }}"
  shell: "php console site:list --no-ansi -n | grep ' {{ matomo_site_name | quote }}$' | awk '{ print $1 }' | sed 's/:$//' | head -n 1"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  changed_when: false
  check_mode: false
  become: true
  become_user: "{{ matomo_user }}"
  register: matomo_idsite_check
  tags:
    - matomo
    - users-update

- name: "Set a fact for matomo_idsite for {{ matomo_site_name }}"
  set_fact:
    matomo_idsite: "{{ matomo_idsite_check.stdout }}"
  when: ( matomo_idsite_check is defined ) and ( matomo_idsite_check != "" )
  tags:
    - matomo
    - users-update

- name: "Conditionally check and add the {{ matomo_site_name }} site_urls"
  include_tasks: addurls.yml
  when:
    - matomo_site_urls is defined
    - matomo_site_urls != ""
    - matomo_idsite is defined
    - matomo_idsite != ""
  tags:
    - matomo
    - users-update

- name: "Grant admin access for {{ matomo_site_admin }} to {{ matomo_site_name }}"
  command: "php console user:access --no-ansi -n --login='{{ matomo_site_admin | quote }}' --access='admin' --sites='{{ matomo_idsite | quote }}'"
  args:
    chdir: "{{ matomo_html }}"
  become: true
  become_user: "{{ matomo_user }}"
  when:
    - matomo_site_admin is defined
    - matomo_site_admin != ""
    - matomo_idsite is defined
    - matomo_idsite != ""
  tags:
    - matomo
    - users-update
