---
# Get a list of sites to start with?
# URL's is comer seperated

- name: Print the matomo_site_name and matomo_site_urls variables
  debug:
    msg:
      - "The matomo_site_name variable contains: {{ matomo_site_name }}"
      - "The matomo_site_urls variable contains: {{ matomo_site_urls }}"
    verbosity: 1
  tags:
    - matomo

- name: Fail if a matomo_site_name is not provided
  fail:
    msg: "A value for matomo_site_name needs to be provided"
  when: ( matomo_site_name is not defined ) or ( matomo_site_name == "" )
  tags:
    - matomo

- name: Fail if a matomo_site_urls is not provided
  fail:
    msg: "A value for matomo_site_urls needs to be provided"
  when: ( matomo_site_urls is not defined ) or ( matomo_site_urls == "" )
  tags:
    - matomo

- name: Print add Matomo site debugging information
  debug:
    msg:
      - "shell command to be run: php console site:add --no-ansi -n --name='{{ matomo_site_name }}' --urls='{{ matomo_site_urls }}'"
      - "chdir: {{ matomo_html }}"
      - "become_user: {{ matomo_user }}"
    verbosity: 1
  tags:
    - matomo

- name: Add Matomo site
  shell: "php console site:add --no-ansi -n --name='{{ matomo_site_name }}' --urls='{{ matomo_site_urls }}'"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
