---
# check if the user already exists?

- name: Fail if the Matomo user login is not present
  fail:
    msg: "A value for matomo_login needs to be provided"
  when: ( matomo_login is not defined ) or ( matomo_login == "" )

- name: Fail if the Matomo user email address is not present
  fail:
    msg: "A value for matomo_login_email needs to be provided"
  when: ( matomo_login_email is not defined ) or ( matomo_login_email == "" )

- name: Fail if the Matomo user password is not present
  fail:
    msg: "A value for matomo_login_password needs to be provided"
  when: ( matomo_login_password is not defined ) or ( matomo_login_password == "" )

- name: Generate a random password for the Matomo user
- block:

    - name: Generate a random string for Matomo password
      command: pwgen -n 20 1
      register: matomo_login_password_gen

    - name: Set a variable with the random password
      set_fact:
        matomo_login_password: "{{ matomo_login_password.stdout }}"

  when: matomo_login_password is not defined ) or ( matomo_login_password == "" )

- name: Add user account
  shell: "php console add:user --login='{{ matomo_login }' --email='{{ matomo_login_email }}' --password='{{ matomo_login_password }}"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_home }}"
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
