---
- name: "Check password in matomo_accounts_file and update if incorrect"
  block:

    - name: "Slurp account information from {{ matomo_accounts_file }}"
      slurp:
        src: "{{ matomo_accounts_file }}"
      register: matomo_accounts_file_b64encoded

    - name: "Set a fact for the account details in {{ matomo_accounts_file }}"
      set_fact:
        matomo_accounts: "{{ matomo_accounts_file_b64encoded['content'] | b64decode | from_yaml | list }}"

    - name: Debug matomo_accounts
      debug:
        var: matomo_accounts
        verbosity: 2

    - name: Set a fact for the matomo_login_password
      set_fact:
        matomo_account_login_password: "{{ account.password }}"
      when: account.login == matomo_login
      loop: "{{ matomo_accounts }}"
      loop_control:
        loop_var: account

    # https://matomo.org/faq/how-to/faq_30/
    - name: GET a login cookie to check that the matomo_account_login_password is correct
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: Login
          action: logme
          login: "{{ matomo_login }}"
          password: "{{ matomo_account_login_password | hash('md5') }}"
        status_code:
          - 200
          - 302
        return_content: true
      register: matomo_logme
      changed_when: ( "Wrong Username and password combination" in matomo_logme.content )

    - name: Debug matomo_logme
      debug:
        var: matomo_logme
        verbosity: 2

    - name: Include update password tasks when login cookie request doesn't redirect
      include_tasks: update_password.yml
      when: ( matomo_logme is defined ) and ( matomo_logme.status == 200 ) 

  tags:
    - matomo
...
