---
- name: Check variables
  block:

    - name: Check that the matomo_users variable is defined
      assert:
        that:
          - ( matomo_user is defined ) and ( matomo_user is regex("^[a-z0-9]*$") )

    - name: "Populate the getent_passwd array for {{ inventory_hostname }}"
      getent:
        database: passwd
        split: ':'

    - name: "Fail if the {{ matomo_user }} user account doesn't exist"
      fail:
        msg: "The {{ matomo_user }} user account doesn't exist on {{ inventory_hostname }}"
      when: matomo_user not in getent_passwd

    - name: "Check that the required directory variables are defined for {{ matomo_user }}"
      assert:
        that:
          - matomo_home is defined
          - matomo_html is defined
          - matomo_private is defined
          - matomo_logs is defined

    - name: "Stat directories for {{ matomo_user }}"
      stat:
        path: "{{ path }}"
      loop:
        - "{{ matomo_home }}"
        - "{{ matomo_html }}"
        - "{{ matomo_private }}"
        - "{{ matomo_logs }}"
      register: matomo_dirs
      loop_control:
        loop_var: path
        label: "{{ path }}"

    - name: "Print the results of the directory checks for {{ matomo_user }}"
      debug:
        msg: "Stat results: {{ stat }}"
        verbosity: 1
      loop: "{{ matomo_dirs.results }}"
      loop_control:
        loop_var: stat
        label: "{{ stat.path }}"

    - name: "Fail if any of the directories for {{ matomo_user }} don't exist"
      fail:
        msg: "The directory {{ dir.stat.path }} needs to exist"
      when: not dir.stat.isdir
      loop: "{{ matomo_dirs.results }}"
      loop_control:
        loop_var: dir
        label: "{{ dir.path }}"

    # Additional check on the values of these variables could be added below
    - name: "Check that required variables are defined for {{ matomo_user }}"
      assert:
        that:
          - ( matomo_db_username is defined )
          - ( matomo_db_host is defined )
          - ( matomo_dbname is defined )
          - ( matomo_url is defined )
          - ( matomo_first_site_name is defined )
          - ( matomo_first_site_url is defined )
          - ( matomo_first_user is defined )
          - ( matomo_first_user_email is defined )
          - ( matomo_notify_passwd is defined )
          - ( matomo_notify_from is defined )
          - ( matomo_notify_reply_to is defined )
          - ( matomo_notify_headers is defined )
          - ( matomo_notify_subject_tag is defined )
          - ( matomo_notify_passwd_signature is defined )
          - ( matomo_git is defined )
          - ( matomo_autoupdate is defined )

    - name: Check that matomo_token_auth is correct if defined
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: UsersManager.getUsers
        return_content: true
      register: matomo_get_users
      when: ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )

    - name: Debug matomo_get_users
      debug:
        var: matomo_get_users.content
        verbosity: 2
      when: matomo_get_users is defined

  tags:
    - matomo
...
