---
- name: Check Matomo site duplicate URLs
  block:

    - name: Matomo API POST request to SitesManager.getSiteUrlsFromId
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: SitesManager.getSiteUrlsFromId
          idSite: "{{ site_check.idsite }}"
          status_code: 200
          return_content: true
      register: matomo_get_site_check_urls_from_id
      failed_when: ( matomo_get_site_check_urls_from_id.failed is defined ) and ( matomo_get_site_check_urls_from_id.failed )

    - name: Debug matomo_get_site_check_urls_from_id
      debug:
        var: matomo_get_site_check_urls_from_id
        verbosity: 2

    - name: Loop though all the URLs checking for URL duplicates
      set_fact:
        matomo_site_duplicates: "{{ matomo_site_duplicates }} + [ '{{ site_check.idsite }}' ]"
      when: matomo_site_url == matomo_site_check_url
      loop: "{{ matomo_get_site_urls_from_id.json }}"
      loop_control:
        loop_var: matomo_site_check_url

  tags:
    - matomo
...
