---
# Run some commands directly using MySQL due to this issue
# https://github.com/digitalist-se/extratools/issues/9
# This asssumes there is a ~/.my.cnf with the username and
# password
#
# This could now be change to use the site.name column since
# the issue above has been fixed

- name: Set matomo_sites_main_urls to an empty array
  set_fact:
    matomo_sites_main_urls: []
  tags:
    - matomo
    - users-update

- name: Get the Matomo database prefix
  shell: "IFS=$'\n' ; php console config:get --no-ansi -n -s database -f text | grep ^tables_prefix | awk '{ print $2 }'"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  register: matomo_table_prefix_check
  changed_when: false
  check_mode: false
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
    - users-update

- name: Set a variable for the Matomo database prefix
  set_fact:
    matomo_table_prefix: "{{ matomo_table_prefix_check.stdout }}"
  tags:
    - matomo
    - users-update

- name: Get the Matomo site main_url's
  command: "mysql {{ matomo_db_name }} --skip-column-names --batch -e 'SELECT main_url from {{ matomo_table_prefix }}site'"
  args:
    chdir: "{{ matomo_html }}/"
  changed_when: false
  check_mode: false
  become: true
  become_user: "{{ matomo_user }}"
  register: matomo_sites_main_urls_check
  tags:
    - matomo
    - users-update

- name: Set an array for the Matomo sites main_url's
  set_fact:
    matomo_sites_main_urls: "{{ matomo_sites_main_urls }} + [ '{{ url }}' ]"
  loop: "{{ matomo_sites_main_urls_check.stdout_lines }}"
  loop_control:
    loop_var: url
  tags:
    - matomo
    - users-update

- name: Print the Matomo site main_url's
  debug:
    msg:
      - "Matomo sites main_url's: {{ matomo_sites_main_urls }}"
    verbosity: 1
  tags:
    - matomo
    - users-update
