# Copyright 2018-2024 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Check Matomo site duplicate URLs
  block:

    - name: Matomo API POST request to SitesManager.getSiteUrlsFromId
      ansible.builtin.uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: SitesManager.getSiteUrlsFromId
          idSite: "{{ site_check.idsite }}"
          status_code: 200
          return_content: true
      register: matomo_get_site_check_urls_from_id
      failed_when: ( matomo_get_site_check_urls_from_id.failed is defined ) and ( matomo_get_site_check_urls_from_id.failed | bool )

    - name: Debug matomo_get_site_check_urls_from_id
      ansible.builtin.debug:
        var: matomo_get_site_check_urls_from_id.json
        verbosity: 2

    - name: Debug matomo_site_url
      ansible.builtin.debug:
        var: matomo_site_url
        verbosity: 2

    - name: Debug loop though all the URLs checking for URL duplicates
      ansible.builtin.debug:
        msg:
          - "The Matomo siteid being checked is {{ site.idsite }}"
          - "URL for the site being checked is {{ matomo_site_url }}"
          - "the matching URL is {{ matomo_site_check_url }}"
          - "and this belongs to {{ site_check.idsite }}"
      when: matomo_site_url == matomo_site_check_url
      loop: "{{ matomo_get_site_check_urls_from_id.json }}"
      loop_control:
        loop_var: matomo_site_check_url

    - name: Loop though all the URLs checking for URL duplicates with Ansible < 2.13
      ansible.builtin.set_fact:
        matomo_site_duplicates: "{{ matomo_site_duplicates | default([]) }} + [ '{{ site_check.idsite }}' ]"
      when:
        - ansible_version.full is version('2.13.0', '>=')
        - matomo_site_url == matomo_site_check_url
      loop: "{{ matomo_get_site_check_urls_from_id.json }}"
      loop_control:
        loop_var: matomo_site_check_url

    - name: Loop though all the URLs checking for URL duplicates with Ansible >= 2.13
      ansible.builtin.set_fact:
        matomo_site_duplicates: "{{ matomo_site_duplicates | default([]) + [ site_check.idsite ] }}"
      when:
        - ansible_version.full is version('2.13.0', '>=')
        - matomo_site_url == matomo_site_check_url
      loop: "{{ matomo_get_site_check_urls_from_id.json }}"
      loop_control:
        loop_var: matomo_site_check_url

  tags:
    - matomo
...
