---
- name: Check if a Matomo login exists when there is no match for the matomo_login_email address
  block:

    - name: Check variables
      assert:
        that:
          - ( matomo_url is defined )
          - ( matomo_token_auth is defined )
          - ( matomo_login is defined ) and ( matomo_login is regex("^[a-zA-Z0-9-]{2,14}$") )
          - ( matomo_login_email is defined ) and ( matomo_login_email is regex("^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$") )

    - name: "Check if a Matomo login named {{ matomo_login }} exists using the API"
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: UsersManager.userExists
          userLogin: "{{ matomo_login }}"
        status_code: 200
        return_content: true
      register: matomo_api_user_exists
      failed_when: ( matomo_api_user_exists.result is not defined ) or ( matomo_api_user_exists.result is defined and matomo_api_user_exists.result == "error" )
      changed_when: ( matomo_api_user_exists.json is defined ) and ( matomo_api_user_exists.json.value is defined ) and ( not matomo_api_user_exists.json.value )

    - name: Debug matomo_api_user_exists
      debug:
        var: matomo_api_user_exists
        verbosity: 2

    - name: Update the email address
      include_tasks: update_email.yml
      when:
        - ( matomo_api_user_exists.json is defined )
        - ( matomo_api_user_exists.json.value is defined )
        - ( matomo_api_user_exists.json.value )

    - name: Add a new user account when there is no match for the matomo_login or matomo_login_email address
      include_tasks: add_user.yml
      when:
        - ( matomo_api_user_exists.json is defined )
        - ( matomo_api_user_exists.json.value is defined )
        - ( not matomo_api_user_exists.json.value )

  tags:
    - matomo
...
