---
- name: Check that the matomo_token_auth and matomo_admin_password are correct
  block:

    - name: Check variables are defined
      ansible.builtin.assert:
        that:
          - matomo_url is defined
          - matomo_user is defined
          - matomo_password is defined
          - matomo_token_auth is defined
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"

    - name: Unblock all currently blocked IPs
      ansible.builtin.command: "{{ matomo_php }} console --no-ansi -n login:unblock-blocked-ips"
      args:
        chdir: "{{ matomo_html }}"
      changed_when: false
      check_mode: false
      become: true
      become_user: "{{ matomo_user }}"
      register: matomo_unblock_blocked_ips
      failed_when: ( matomo_unblock_blocked_ips.rc != 0 ) or ( matomo_unblock_blocked_ips.stdout != "Done" )

    # NOTE The following POST is to check that both the password and the
    #      token auth are correct
    #      See https://developer.matomo.org/api-reference/reporting-api#UsersManager
    - name: "Check superuser access for {{ matomo_user }} on {{ matomo_url }}"
      ansible.builtin.uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: UsersManager.setSuperUserAccess
          userLogin: "{{ matomo_user }}"
          hasSuperUserAccess: true
          passwordConfirmation: "{{ matomo_password }}"
        status_code: 200
      changed_when: false
      check_mode: false
      register: matomo_api_set_super_user_access

    - name: Debug matomo_api_set_super_user_access
      ansible.builtin.debug:
        var: matomo_api_set_super_user_access
        verbosity: 2

    - name: Set variable based on result of superuser token_auth and password check
      ansible.builtin.set_fact:
        matomo_super_user_access: "{% if matomo_api_set_super_user_access.json.result is defined and matomo_api_set_super_user_access.json.result == 'success' %}True{% else %}False{% endif %}"

    - name: Matomo super user auth token and / or password variables check
      ansible.builtin.fail:
        msg: "Please check the matomo_token_auth and matomo_password are correct for the Matomo superuser {{ matomo_user }} on {{ matomo_url }}"
      when: not matomo_super_user_access | bool

  tags:
    - matomo
...
