---
- name: Check the version of Matomo and if the ExtraTools and UserConsole are installed and activated
  block:

    - name: Get the installed Matomo version number
      command: "php console core:update --no-ansi -n --version"
      args:
        chdir: "{{ matomo_html }}"
      changed_when: false
      check_mode: false
      become: true
      become_user: "{{ matomo_user }}"
      register: matomo_installed_check

    - name: Set a variable for the installed Matomo version number
      set_fact:
        matomo_installed: "{{ matomo_installed_check.stdout.split(' ')[2] | trim }}"

    - name: Print the installed version of Matomo
      debug:
        msg: "The installed version of Matomo is {{ matomo_installed | quote }}"
        verbosity: 1

    - name: Check if ExtraTools plugin is present
      stat:
        path: "{{ matomo_html }}/plugins/ExtraTools"
      register: matomo_extratools_path

    - name: Debug matomo_extratools_path
      debug:
        var: matomo_extratools_path
        verbosity: 2
      when: matomo_extratools_path is defined

    - name: Check if Extra Tools is activated
      shell: "php console --no-ansi plugin:activate ExtraTools || echo FAIL"
      args:
        executable: /bin/bash
        chdir: "{{ matomo_html }}"
      check_mode: false
      become: true
      become_user: "{{ matomo_user }}"
      register: matomo_extratools_check
      changed_when: '"ExtraTools is already activated" not in matomo_extratools_check.stdout'
      when: ( matomo_extratools_path is defined ) and ( matomo_extratools_path.exists )

    - name: Check if UserConsole plugin is present
      stat:
        path: "{{ matomo_html }}/plugins/UserConsole"
      register: matomo_userconsole_path

    - name: Debug matomo_userconsole_path
      debug:
        var: matomo_userconsole_path
        verbosity: 2
      when: matomo_userconsole_path is defined

    - name: Check if User Console is activated
      shell: "php console --no-ansi plugin:activate UserConsole || echo FAIL"
      args:
        executable: /bin/bash
        chdir: "{{ matomo_html }}"
      check_mode: false
      become: true
      become_user: "{{ matomo_user }}"
      register: matomo_userconsole_check
      changed_when: '"UserConsole is already activated" not in matomo_userconsole_check.stdout'
      when: ( matomo_userconsole_path is defined ) and ( matomo_userconsole_path.exists )

  tags:
    - matomo
...
