---
- name: Check the latest version of Matomo
  block:

    - name: Get the latest Matomo version number file
      ansible.builtin.uri:
        url: https://builds.matomo.org/LATEST
        return_content: true
        force: true
      register: matomo_latest_get

    - name: Set a variable for the latest Matomo version
      ansible.builtin.set_fact:
        matomo_latest: "{{ matomo_latest_get.content | trim }}"

    - name: Print the latest version
      ansible.builtin.debug:
        msg: "The latest version of Matomo is {{ matomo_latest | quote }}"
        verbosity: 1

  tags:
    - matomo
...
