---
- name: Check the version of Matomo
  block:

    - name: Get the installed Matomo version number
      ansible.builtin.command: "{{ matomo_php }} console --no-ansi -n core:update --version"
      args:
        chdir: "{{ matomo_html }}"
      check_mode: false
      become: true
      become_user: "{{ matomo_user }}"
      changed_when: false
      register: matomo_installed_check

    - name: Set a variable for the installed Matomo version number
      ansible.builtin.set_fact:
        matomo_installed: "{{ matomo_installed_check.stdout.split(' ')[2] | trim }}"

    - name: Print the installed version of Matomo
      ansible.builtin.debug:
        msg: "The installed version of Matomo is {{ matomo_installed | quote }}"
        verbosity: 1

  tags:
    - matomo
...
