# Copyright 2018-2025 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Add site ID to matomo_existing_site_ids array if matomo_proposed_url is in matomo_existing_main_urls
  block:

    - name: Check that required variables are defined
      ansible.builtin.assert:
        that:
          - ( matomo_url is defined ) and ( matomo_url | length > 0 )
          - ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )
          - ( matomo_get_all_sites.json is defined ) and ( matomo_get_all_sites.json | length > 0 )
          - ( matomo_proposed_url is defined ) and ( matomo_proposed_url is regex("^http:\/\/.*$") )
          - ( matomo_existing_id is defined ) and ( matomo_existing_id is regex("^[0-9]{1,6}$") )
          - ( matomo_existing_main_urls is defined ) and ( matomo_existing_main_urls[0] is defined )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"

    - name: Debug matomo_existing_main_urls
      ansible.builtin.debug:
        var: matomo_existing_main_urls
        verbosity: 2

    - name: Debug matomo_proposed_url
      ansible.builtin.debug:
        var: matomo_proposed_url
        verbosity: 2

    - name: Debug Loop though the matomo_existing_main_urls
      ansible.builtin.debug:
        msg:
          - "matomo_existing_id: {{ matomo_existing_id }}"
          - "url: {{ url }}"
          - "matomo_proposed_url: {{ matomo_proposed_url }}"
      loop: "{{ matomo_existing_main_urls }}"
      loop_control:
        loop_var: url

    - name: Loop though the matomo_existing_main_urls and set matomo_existing_site_ids when defined
      ansible.builtin.set_fact:
        #  This was set to the following, this failed with Ansible 2.19, note unique is now missing...
        #  matomo_existing_site_ids: "{{ matomo_existing_site_ids | default([]) + [ site.idsite ] | unique }}"
        matomo_existing_site_ids: "{{ matomo_existing_site_ids | default([]) }} + [ '{{ site.idsite }}' ]"
      when:
        - matomo_proposed_url == url
        - matomo_existing_id not in matomo_existing_site_ids
        # This was added for Ansible 2.19
        - (site.idsite is defined) and (site.idsite not in matomo_existing_site_ids)
      loop: "{{ matomo_existing_main_urls }}"
      loop_control:
        loop_var: url

    - name: Debug matomo_existing_site_ids
      ansible.builtin.debug:
        var: matomo_existing_site_ids
        verbosity: 2

  tags:
    - matomo
...
