# Copyright 2018-2025 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Matomo config section settings
  block:

    - name: Debug matomo_config_section_setting
      ansible.builtin.debug:
        var: matomo_config_section_setting
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"

    - name: Set facts for the existing and proposed Matomo config settings
      ansible.builtin.set_fact:
        matomo_config_section_setting_existing: "{{ matomo_config_section_existing | community.general.json_query(matomo_config_section_setting.key) }}"
        matomo_config_section_setting_proposed: "{{ matomo_config_section_setting['value'] }}"

    - name: Debug matomo_config_section_setting_existing
      ansible.builtin.debug:
        var: matomo_config_section_setting_existing
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"

    - name: Debug matomo_config_section_setting_proposed
      ansible.builtin.debug:
        var: matomo_config_section_setting_proposed
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"

    - name: "Debug update Matomo config setting {{ matomo_config_section_setting.key }}"
      ansible.builtin.debug:
        msg:
          - "If Ansible was not being run in check mode the following command would be run as the {{ matomo_user }} user from the {{ matomo_html }} directory."
          - "{{ matomo_php }} console --no-ansi -n config:set --section='{{ matomo_config_section.key }}' --key='{{ matomo_config_section_setting.key }}' --value='{{ matomo_config_section_setting_proposed }}'"
      when: ansible_check_mode | bool

    - name: "Update Matomo config setting {{ matomo_config_section_setting.key }}"
      ansible.builtin.command: "{{ matomo_php }} console --no-ansi -n config:set --section='{{ matomo_config_section.key }}' --key='{{ matomo_config_section_setting.key }}' --value='{{ matomo_config_section_setting_proposed }}'"
      args:
        chdir: "{{ matomo_html }}"
      become: true
      become_user: "{{ matomo_user }}"
      changed_when: true
      when: matomo_config_section_setting_proposed != matomo_config_section_setting_existing

  tags:
    - matomo
    - matomo_config
    - matomo_settings
...
