---
- name: Fail if the Matomo user login is not present
  fail:
    msg: "A value for matomo_login needs to be provided"
  when: ( matomo_login is not defined ) or ( matomo_login == "" )
  tags:
    - matomo
    - users-update

- name: "Check if the Matomo {{ matomo_user }} exists"
  command: "id {{ matomo_user }}"
  ignore_errors: true
  check_mode: false
  register: matomo_user_check
  changed_when: '"no such user" in matomo_user_check.stderr'
  tags:
    - matomo
    - users-update

- name: "Check if {{ matomo_html }}/config/config.ini.php exists"
  stat:
    path: "{{ matomo_html }}/config/config.ini.php"
  check_mode: false
  register: matomo_config
  tags:
    - matomo
    - users-update

- name: "Delete Matomo users if {{ matomo_user }} exists"
  block:

    - name: Get the existing usernames
      shell: "IFS=$'\n' ; for u in $(php console user:list --no-ansi -n); do echo $u | awk '{ print $2 }' ; done"
      args:
        executable: /bin/bash
        chdir: "{{ matomo_html }}"
      # environment:
      #   IFS: '\n'
      register: matomo_logins
      changed_when: false
      check_mode: false
      become: true
      become_user: "{{ matomo_user }}"
      tags:
        - matomo
        - users-update

    - name: Set a variable based on the existance of the user
      set_fact:
        matomo_login_present: true
      when: '"matomo_login" in matomo_logins.stdout_lines'
      tags:
        - matomo
        - users-update

    - name: Delete Matomo user account
      shell: "php console user:delete --login='{{ matomo_login }}'"
      args:
        executable: /bin/bash
        chdir: "{{ matomo_html }}"
      when: ( matomo_login_present is defined ) and ( matomo_login_present == True )
      become: true
      become_user: "{{ matomo_user }}"
      tags:
        - matomo
        - users-update

  when: ( "no such user" not in matomo_user_check.stderr ) and ( matomo_config.stat.exists )
