---
- name: Fail if the Matomo user login is not present
  fail:
    msg: "A value for matomo_login needs to be provided"
  when: ( matomo_login is not defined ) or ( matomo_login == "" )
  tags:
    - matomo

- name: Get the existing usernames
  shell: for u in $(php console user:list --no-ansi -n); do echo $u | awk '{ print $2 }' ; done
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  environment:
    IFS: '\n'
  register: matomo_logins
  changed_when: false
  check_mode: false
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Set a variable based on the existance of the user
  set_fact:
    matomo_login_present: true
  when: '"matomo_login" in matomo_logins.stdout_lines'
  tags:
    - matomo

- name: Delete Matomo user account
  shell: "php console user:delete --login='{{ matomo_login }}'"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  when: ( matomo_login_present is defined ) and ( matomo_login_present == True )
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
