---
- name: Delete unneeded files
  block:

    - name: File deletion script in place
      ansible.builtin.copy:
        src: "delete_files_scripts/{{ matomo_installed }}.sh"
        dest: "{{ matomo_html }}/{{ matomo_installed }}.sh"
        mode: 0700
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
      changed_when: false

    - name: Run the file deletion script
      ansible.builtin.command: "bash ./{{ matomo_installed }}.sh"
      args:
        chdir: "{{ matomo_html }}"
      become: true
      become_user: "{{ matomo_user }}"
      register: matomo_files_deleted
      changed_when: ( "Deleting " in matomo_files_deleted.stdout )

    - name: Delete the file deletion script
      ansible.builtin.file:
        path: "{{ matomo_html }}/{{ matomo_installed }}.sh"
        state: absent
      changed_when: false

  tags:
    - matomo
...
