---
- name: Download Matomo TGZ
  block:

    - name: Required Matomo GPG signature downloaded
      get_url:
        url: "https://builds.matomo.org/matomo-{{ matomo_required }}.tar.gz.asc"
        dest: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc"
        force: true
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
        mode: 0640

    - name: Required Matomo downloaded
      get_url:
        url: "https://builds.matomo.org/matomo-{{ matomo_required }}.tar.gz"
        dest: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
        force: true
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
        mode: 0640

    - name: Matomo GPG signature checked
      command: >
        gpg --no-tty --verify --logger-fd 1
        "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc"
        "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
      register: matomo_signature_check
      become: true
      become_user: "{{ matomo_user }}"

    - name: Debug GPG signature check
      debug:
        var: matomo_signature_check.stdout_lines
        verbosity: 2

    - name: Private directory for Matomo to be unarchived into absent
      file:
        path: "{{ matomo_private }}/matomo"
        state: absent

    - name: Required Matomo unarchived into private directory
      unarchive:
        remote_src: true
        src: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
        dest: "{{ matomo_private }}"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"

    - name: Required composer.json file fetched from GitHub and added to archive
      get_url:
        url: "https://raw.githubusercontent.com/matomo-org/matomo/{{ matomo_required }}/composer.json"
        dest: "{{ matomo_private }}/matomo/composer.json"
        force: true
        owner: "{{ matomo_user }}"
        group: "{{ matomo_user }}"
        mode: 0644
      when:
        - matomo_extratools != "skip"
        - matomo_userconsole != "skip"

  tags:
    - matomo
...
