---

- name: Required Matomo GPG signature downloaded
  get_url:
    url: "https://builds.matomo.org/matomo-{{ matomo_required }}.tar.gz.asc"
    dest: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc"
    force: true
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Required Matomo downloaded
  get_url:
    url: "https://builds.matomo.org/matomo-{{ matomo_required }}.tar.gz"
    dest: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Matomo GPG signature checked
  shell: "gpg --no-tty --verify --logger-fd 1 {{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc | grep 'Good signature'"
  args:
    executable: /bin/bash
  register: matomo_signature_check
  failed_when: "'Good signature' not in matomo_signature_check.stdout"
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Private directory for Matomo to be unarchived into absent
  file:
    path: "{{ matomo_private }}/matomo"
    state: absent
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Required Matomo unarchived into private directory
  unarchive:
    remote_src: true
    src: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
    dest: "{{ matomo_private }}"
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Required composer.json file fetched from GitHub and added to archive
  get_url:
    url: "https://raw.githubusercontent.com/matomo-org/matomo/{{ matomo_required }}/composer.json"
    dest: "{{ matomo_private }}/matomo/composer.json"
    force: true
    owner: "{{ matomo_user }}"
    group: "{{ matomo_user }}"
  when:
    - matomo_extratools != "skip"
    - matomo_userconsole != "skip"
  tags:
    - matomo
...
