---
- name: Download Matomo TGZ and check GPG signature
  block:

    - name: GNU Privacy Guard directory present
      file:
        path: "{{ matomo_home }}/.gnupg"
        state: directory
        owner: "{{ matomo_user }}"
        group: "{{ matomo_user }}"
        mode: 0700

    # https://matomo.org/blog/2014/11/verify-signatures-piwik-packages/
    - name: The Matomo < 4.8.0 GPG public key is present
      copy:
        src: files/matomo.pub
        dest: "{{ matomo_private }}/matomo.pub"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_user }}"
        mode: 0644

    - name: The Matomo < 4.8.0 GPG public key is imported
      command: "gpg --no-tty --import '{{ matomo_private }}/matomo.pub'"
      register: matomo_gpg_key_import
      changed_when: "'not changed' not in matomo_gpg_key_import.stderr"
      become: true
      become_user: "{{ matomo_user }}"

    # https://builds.matomo.org/signature.asc
    - name: The Matomo >= 4.8.0 GPG public key is present
      copy:
        src: files/signature.asc
        dest: "{{ matomo_private }}/matomo.asc"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_user }}"
        mode: 0644

    - name: The Matomo >= 4.8.0 GPG public key is imported
      command: "gpg --no-tty --import '{{ matomo_private }}/matomo.asc'"
      register: matomo_gpg_key_import
      changed_when: "'not changed' not in matomo_gpg_key_import.stderr"
      become: true
      become_user: "{{ matomo_user }}"

    - name: Required Matomo GPG signature downloaded
      get_url:
        url: "https://builds.matomo.org/matomo-{{ matomo_required }}.tar.gz.asc"
        dest: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc"
        force: true
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
        mode: 0640

    - name: Required Matomo downloaded
      get_url:
        url: "https://builds.matomo.org/matomo-{{ matomo_required }}.tar.gz"
        dest: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
        force: true
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
        mode: 0640

    - name: Matomo GPG signature checked
      command: >
        gpg --no-tty --verify --logger-fd 1
        "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc"
        "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
      register: matomo_signature_check
      changed_when: false
      check_mode: false
      failed_when: >
        ( matomo_signature_check.rc != 0 ) or
        ( "Good signature from" not in matomo_signature_check.stdout )
      become: true
      become_user: "{{ matomo_user }}"

    - name: Debug GPG signature check
      debug:
        var: matomo_signature_check.stdout_lines
        verbosity: 2

    - name: Private directory for Matomo to be unarchived into absent
      file:
        path: "{{ matomo_private }}/matomo"
        state: absent

    - name: Required Matomo unarchived into private directory
      unarchive:
        remote_src: true
        src: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
        dest: "{{ matomo_private }}"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"

  tags:
    - matomo
...
