# Copyright 2018-2023 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Download Matomo TGZ and check GPG signature
  block:

    - name: GNU Privacy Guard directory present
      ansible.builtin.file:
        path: "{{ matomo_home }}/.gnupg"
        state: directory
        owner: "{{ matomo_user }}"
        group: "{{ matomo_user }}"
        mode: 0700

    # https://matomo.org/blog/2014/11/verify-signatures-piwik-packages/
    - name: The Matomo < 4.8.0 GPG public key is present
      ansible.builtin.copy:
        src: files/matomo.pub
        dest: "{{ matomo_private }}/matomo.pub"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_user }}"
        mode: 0644
        force: true

    - name: The Matomo < 4.8.0 GPG public key is imported
      ansible.builtin.command: "gpg --no-tty --import '{{ matomo_private }}/matomo.pub'"
      register: matomo_gpg_key_import
      changed_when: "'not changed' not in matomo_gpg_key_import.stderr"
      become: true
      become_user: "{{ matomo_user }}"

    # https://builds.matomo.org/signature.asc
    - name: The Matomo >= 4.8.0 GPG public key is present
      ansible.builtin.copy:
        src: files/signature.asc
        dest: "{{ matomo_private }}/matomo.asc"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_user }}"
        mode: 0644
        force: true

    - name: The Matomo >= 4.8.0 GPG public key is imported
      ansible.builtin.command: "gpg --no-tty --import '{{ matomo_private }}/matomo.asc'"
      register: matomo_gpg_key_import
      changed_when: "'not changed' not in matomo_gpg_key_import.stderr"
      become: true
      become_user: "{{ matomo_user }}"

    - name: Required Matomo GPG signature downloaded
      ansible.builtin.get_url:
        url: "https://github.com/matomo-org/matomo/releases/download/{{ matomo_required }}/matomo-{{ matomo_required }}.tar.gz.asc"
        dest: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
        mode: 0640
        force: true

    - name: Stat Matomo GPG signature
      ansible.builtin.stat:
        path: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc"
      register: matomo_sig

    - name: Required Matomo downloaded
      ansible.builtin.get_url:
        url: "https://github.com/matomo-org/matomo/releases/download/{{ matomo_required }}/matomo-{{ matomo_required }}.tar.gz"
        dest: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
        mode: 0640
        force: true

    - name: Stat Matomo TGZ
      ansible.builtin.stat:
        path: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
      register: matomo_tgz

    - name: Matomo GPG signature checked
      ansible.builtin.command: >
        gpg --no-tty --verify --logger-fd 1
        "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz.asc"
        "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
      register: matomo_signature_check
      changed_when: false
      check_mode: false
      failed_when: >
        ( matomo_signature_check.rc != 0 ) or
        ( "Good signature from" not in matomo_signature_check.stdout )
      when:
        - matomo_sig.stat.exists | bool
        - matomo_tgz.stat.exists | bool
      become: true
      become_user: "{{ matomo_user }}"

    - name: Debug GPG signature check
      ansible.builtin.debug:
        var: matomo_signature_check.stdout_lines
        verbosity: 2
      when:
        - matomo_signature_check is defined
        - matomo_signature_check.stdout is defined

    - name: Private directory for Matomo to be unarchived into absent
      ansible.builtin.file:
        path: "{{ matomo_private }}/matomo"
        state: absent

    - name: Required Matomo unarchived into private directory
      ansible.builtin.unarchive:
        remote_src: true
        src: "{{ matomo_private }}/matomo-{{ matomo_required }}.tar.gz"
        dest: "{{ matomo_private }}"
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
      when:
        - matomo_signature_check.rc is defined
        - matomo_signature_check.rc == 0
        - matomo_tgz.stat.exists | bool

  tags:
    - matomo
...
