---
# https://github.com/digitalist-se/extratools
- name: Composer run to install dependancies
  command: composer require symfony/yaml:~2.6.0
  args:
    chdir: "{{ matomo_html }}/"
  register: matomo_symfony_yaml
  changed_when: '"Nothing to install or update" not in matomo_symfony_yaml.stdout'
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Composer run to install dependancies
  command: composer require symfony/process:^3.4
  args:
    chdir: "{{ matomo_html }}/"
  register: matomo_symfony_process
  changed_when: '"Nothing to install or update" not in matomo_symfony_process.stdout'
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Matomo ExtraTools present
  git:
    repo: https://github.com/digitalist-se/extratools.git
    dest: "{{ matomo_html }}/plugins/ExtraTools"
    clone: true
    update: true
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: ExtraTools plugin activated
  shell: "php console plugin:activate ExtraTools"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}/"
  register: matomo_extratools
  changed_when: '"Activated plugin ExtraTools" in matomo_extratools.stdout'
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
