---
# https://github.com/digitalist-se/extratools
- name: Composer run to install dependancies
  command: "{{ cmd }}"
  args:
    chdir: "{{ matomo_html }}/"
  become: true
  become_user: "{{ matomo_user }}"
  loop:
    - composer require symfony/yaml:~2.6.0
    - composer require symfony/process:^3.4
  loop_control:
    loop_var: cmd
  tags:
    - matomo

- name: Matomo ExtraTools present
  git:
    repo: https://github.com/digitalist-se/extratools.git
    dest: "{{ matomo_html }}/plugins/ExtraTools"
    clone: true
    update: true
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: ExtraTools plugin activated
  shell: "php console plugin:activate ExtraTools"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}/"
  register: matomo_extratools
  changed_when: '"Activated plugin ExtraTools" in matomo_extratools.stdout'
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
