---
# https://github.com/digitalist-se/extratools/issues/15
- name: "{{ matomo_html }}/vendor/davaxi/sparkline absent"
  file:
    path: "{{ matomo_html }}/vendor/davaxi/sparkline"
    state: absent
  tags:
    - matomo

- name: Matomo version of Sparkline present
  git:
    repo: https://github.com/matomo-org/Sparkline.git
    dest: "{{ matomo_html }}/vendor/davaxi/sparkline"
    update: true
    clone: true
    version: multiple-series
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

# https://github.com/digitalist-se/extratools
- name: Run composer require for Extra Tools
  composer:
    command: require
    arguments: "{{ pkg }}"
    working_dir: "{{ matomo_html }}"
  register: matomo_symfony_yaml
  become: true
  become_user: "{{ matomo_user }}"
  loop:
    - "symfony/yaml:~2.6.0"
    - "symfony/process:^3.4"
  loop_control:
    loop_var: pkg
  tags:
    - matomo

- name: Matomo ExtraTools present
  git:
    repo: https://github.com/digitalist-se/extratools.git
    dest: "{{ matomo_html }}/plugins/ExtraTools"
    clone: true
    update: true
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: ExtraTools plugin activated
  shell: "php console --no-ansi -n plugin:activate ExtraTools"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  register: matomo_extratools
  changed_when: '"Activated plugin ExtraTools" in matomo_extratools.stdout'
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: ExtraTools db backup path set
  shell: "php console --no-ansi -n config:set 'ExtraTools.db_backup_path=\"{{ matomo_private }}\"'"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  changed_when: false
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
...
