---
- name: Matomo geolocation tasks
  block:

    - name: Check if a current DBIP City Lite database exists
      stat:
        path: "{{ matomo_private }}/dbip-city-lite-{{ lookup('pipe','date +%Y-%m') }}.mmdb"
      register: matomo_dbip_mmdb

    - name: Download and unarchive the DBIP City Lite database
      block:

        - name: Current DBIP City Lite database archive present
          get_url:
            url: "https://download.db-ip.com/free/dbip-city-lite-{{ lookup('pipe','date +%Y-%m') }}.mmdb.gz"
            dest: "{{ matomo_private }}/dbip-city-lite-{{ lookup('pipe','date +%Y-%m') }}.mmdb.gz"
            owner: "{{ matomo_user }}"
            group: "{{ matomo_group }}"
            mode: 0640

        - name: DBIP City Lite database unarchived
          command: "gunzip dbip-city-lite-{{ lookup('pipe','date +%Y-%m') }}.mmdb.gz"
          args:
            chdir: "{{ matomo_private }}"
          become: true
          become_user: "{{ matomo_user }}"

      when: not matomo_dbip_mmdb.stat.exists

   - name: DBIP City Lite database in place
     copy:
       src: "{{ matomo_private }}/dbip-city-lite-{{ lookup('pipe','date +%Y-%m') }}.mmdb"
       dest: "{{ matomo_html }}/misc/DBIP-City.mmdb"
       remote_src: true
       owner: "{{ matomo_user }}"
       group: "{{ matomo_group }}"
       mode: 0644

  tags:
    - matomo
...
