# Copyright 2018-2023 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Get existing Matomo site IDs from proposed URLs using the results of a SitesManager.getAllSites API query
  block:

    - name: Check that required variables are defined
      ansible.builtin.assert:
        that:
          - ( matomo_url is defined ) and ( matomo_url | length > 0 )
          - ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )
          - ( matomo_get_all_sites.json is defined ) and ( matomo_get_all_sites.json | length > 0 )
          - ( matomo_proposed_url is defined ) and ( matomo_proposed_url is regex("^http:\/\/.*$") )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"

   # NOTE The main_url shouldn't be multiple URLs seperated by commas but due
   #      to earlier bugs this was the case with the Matomo site used for
   #      development of this role, so this could probably be changed in the
   #      future.
    - name: Loop thought the existing sites checking if the proposed URL is assigned to an existing Matomo site
      ansible.builtin.include_tasks: check_main_url.yml
      vars:
        matomo_existing_id: "{{ site.idsite }}"
        matomo_existing_main_urls: "{{ site.main_url.split(', ') }}"
      loop: "{{ matomo_get_all_sites.json }}"
      loop_control:
        loop_var: site

    - name: Debug matomo_existing_site_ids
      ansible.builtin.debug:
        var: matomo_existing_site_ids
        verbosity: 2

  tags:
    - matomo
...
