---
- name: Get Matomo site IDs from URLs using the API
  block:

    - name: Check that required variables are defined
      assert:
        that:
          - ( matomo_url is defined ) and ( matomo_url | length > 0 )
          - ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )
          - ( url is defined ) and ( url | length > 0 )

    - name: "Check if a Matomo ID exists for {{ url }}"
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: SitesManager.getSitesIdFromSiteUrl
          url: "{{ url }}"
          return_content: true
      register: users_matomo_get_sites_id_from_siteurl

    - name: Debug users_matomo_get_sites_id_from_siteurl
      debug:
        var: users_matomo_get_sites_id_from_siteurl
        verbosity: 2

    - name: Add IDs to matomo_existing_site_ids array
      set_fact:
        matomo_existing_site_ids: "{{ matomo_existing_site_ids | default([]) }} + [ '{{ id.idsite }}' ]"
      loop: "{{ users_matomo_get_sites_id_from_siteurl.json }}"
      loop_control:
        loop_var: id
        label: id.idsite
      when:
        - ( id.idsite not in matomo_existing_site_ids )
        - ( users_matomo_get_sites_id_from_siteurl.json is defined )
        - ( users_matomo_get_sites_id_from_siteurl.json != [] )

    - name: Debug matomo_existing_site_ids
      debug:
        var: matomo_existing_site_ids
        verbosity: 2

  tags:
    - matomo
...
