# Copyright 2018-2024 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Get a JSON array of all sites using the Matomo API
  block:

    - name: Check that required variables are defined
      ansible.builtin.assert:
        that:
          - ( matomo_url is defined ) and ( matomo_url | length > 0 )
          - ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"

    - name: Matomo API POST request to SitesManager.getAllSites
      ansible.builtin.uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: SitesManager.getAllSites
          status_code: 200
          return_content: true
        use_netrc: false
      become: true
      become_user: "{{ matomo_user }}"
      check_mode: false
      delegate_to: "{{ inventory_hostname }}"
      changed_when: false
      register: matomo_get_all_sites
      failed_when: ( matomo_get_all_sites.failed is defined ) and ( matomo_get_all_sites.failed )

    - name: Debug matomo_get_all_sites
      ansible.builtin.debug:
        var: matomo_get_all_sites
        verbosity: 2

    - name: Debug matomo_get_all_sites.json type
      ansible.builtin.debug:
        msg: "The matomo_get_all_sites.json variable type: {{ matomo_get_all_sites.json | type_debug }}"
        verbosity: 2

    - name: Set a fact for the Matomo main URLs
      ansible.builtin.set_fact:
        matomo_main_urls: "{{ matomo_get_all_sites.json | community.general.json_query('[].main_url') }}"

    - name: Debug matomo_main_urls
      ansible.builtin.debug:
        var: matomo_main_urls
        verbosity: 1

    - name: Check that the main_url for the sites doesn't contain multiple URLs seperated by commas
      ansible.builtin.assert:
        that:
          - ( matomo_main_urls | select('ansible.builtin.regex', ',') ) == []
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
        fail_msg: It appears that one of the {{ matomo_main_urls | join(' ') }} contains multiple URLs seperated by commas, please fix this, the field should contain one URL.

  tags:
    - matomo
...
