# Copyright 2018-2023 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Install Matomo
  block:

    - name: Matomo download tgz tasks included
      ansible.builtin.include_tasks: download.yml

    - name: Matomo files rsync'd into place
      ansible.builtin.command: "rsync -aq {{ matomo_private }}/matomo/ {{ matomo_html }}/"
      register: matomo_rsync_command
      changed_when: ( "total size is 0" not in matomo_rsync_command.stdout_lines )
      become: true
      become_user: "{{ matomo_user }}"

    - name: Random passwd for Matomo admin generated
      ansible.builtin.command: "pwgen -n {{ 24 | random(14) }} 1"
      changed_when: false
      check_mode: false
      no_log: true
      register: matomo_first_user_pass_gen

    - name: Fact set for Matomo admin password
      ansible.builtin.set_fact:
        matomo_first_user_pass: "{{ matomo_first_user_pass_gen.stdout | trim | quote }}"
      when: ( matomo_first_user_pass_gen is defined ) and ( matomo_first_user_pass_gen | length > 0 )
      no_log: true

    - name: Check that required variables are defined
      ansible.builtin.assert:
        that:
          - ( matomo_db_host is defined ) and ( matomo_db_host | length > 0 )
          - ( matomo_dbname is defined ) and ( matomo_dbname | length > 0 )
          - ( matomo_db_username is defined ) and ( matomo_db_username | length > 0 )
          - ( matomo_db_pass is defined ) and ( matomo_db_pass | length > 0 )
          - ( matomo_first_site_name is defined ) and ( matomo_first_site_name | length > 0 )
          - ( matomo_first_site_url is defined ) and ( matomo_first_site_url | length > 0 )
          - ( matomo_first_user is defined ) and ( matomo_first_user | length > 0 )
          - ( matomo_first_user_email is defined ) and ( matomo_first_user_email | length > 0 )
          - ( matomo_first_user_pass is defined ) and ( matomo_first_user_pass | length > 0 )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"

    - name: Include web install tasks
      ansible.builtin.include_tasks: install_web.yml

    - name: "Password notification email sent to {{ matomo_first_user_email }}"
      community.general.mail:
        from: "{{ matomo_notify_from }}"
        to: '"{{ matomo_first_user | quote }}" <{{ matomo_first_user_email }}>'
        subject: "[{{ matomo_notify_subject_tag | default('webarchitects') }}] Matomo superuser password for {{ matomo_url }}"
        # https://github.com/ansible/ansible/issues/58543
        charset: us-ascii
        body: "{{ lookup('template', 'notify_matomo_install_passwd.j2') }}"
        host: localhost
        port: 25
        secure: never
      when: ( matomo_notify_passwd is defined ) and ( matomo_notify_passwd )

    - name: Get the installed Matomo version number
      ansible.builtin.command: "{{ matomo_php }} console --no-ansi -n core:update --version"
      args:
        chdir: "{{ matomo_html }}"
      changed_when: false
      check_mode: false
      become: true
      become_user: "{{ matomo_user }}"
      register: matomo_installed_check

    - name: Set a variable for the installed Matomo version number
      ansible.builtin.set_fact:
        matomo_installed: "{{ matomo_installed_check.stdout.split(' ')[2] }}"

    - name: Print the installed version of Matomo
      ansible.builtin.debug:
        msg: "The installed version of Matomo is {{ matomo_installed }}"
        verbosity: 1

  tags:
    - matomo
...
