---
# https://github.com/digitalist-se/extratools
- name: Matomo download tasks included 
  include_tasks: download.yml

- name: Matomo files rsynced into place
  shell: "rsync -aq {{ matomo_private }}/matomo/ {{ matomo_html }}/"
  args:
    executable: /bin/bash
  become: true
  become_user: "{{ matomo_user }}"

- name: Matomo ExtraTools present
  git:
    repo: https://github.com/digitalist-se/extratools.git
    dest: "{{ matomo_html }}/plugins/ExtraTools"
  become: true
  become_user: "{{ matomo_user }}"

- name: composer.json for Matomo ExtraTools present
  copy:
    src: files/composer.json
    dest: {{ matomo_html }}/composer.json
    owner: "{{ matomo_user }}"
    group: "{{ matomo_user }}"
    mode: 0644

- name: ExtraTools plugin activated
  shell: "console plugin:activate ExtraTools"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}/"
  become: true
  become_user: "{{ matomo_user }}"

- name: "Check for {{ matomo_home }}/.my.cnf"
  stat:
    path: "{{ matomo_home }}/.my.cnf"
  register: matomo_mycnf_check

- name: "MariaDB password read from {{ matomo_home }}/.my.cnf"
  shell: "my_print_defaults --defaults-file='.my.cnf' client | grep '^--password' | sed -e 's/--password=//'"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}/"
  register: matomo_db_pass_read
  become: true
  become_user: "{{ matomo_user }}"
  changed_when: false
  when: matomo_mycnf_check.stat.exists

- name: Set a fact for the MariaDB password
  set_fact:
    matomo_db_pass: "{{ matomo_db_pass_read.stdout }}"
  when: ( matomo_db_pass_read is defined ) and ( matomo_db_pass_read.stdout != "" )

- name: Motomo installed
  shell: console matomo:install --db-username={{ matomo_db_username }} --db-pass={{ matomo_db_pass }} --db-host={{ matomo_db_host }} --db-name={{ matomo_db_name }} --first-site-name='{{ matomo_first_site_name }}' --first-site-url='{{ matomo_first_site_url }}' --first-user='{{ matomo_first_user }}' --first-user-email='{{ matomo_first_user_email }}' --first-user-pass='{{ matomo_first_user_pass }}'"
  # ' vim syntax highlighting buxfix
  args:
    executable: /bin/bash
  become: true
  become_user: "{{ matomo_user }}"
