# Copyright 2018-2024 Chris Croome
#
# This file is part of the Webarchitects Matomo Ansible role.
#
# The Webarchitects Matomo Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Matomo Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Matomo Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Matomo role skipped
  ansible.builtin.debug:
    msg: "The tasks in the Matomo role are not being run since the matomo variable is not true."
  when: not matomo | bool
  tags:
    - matomo

- name: Install, configure and upgrade Matomo
  block:

    - name: Gather facts
      ansible.builtin.setup:

    - name: Include Matomo verify variables tasks
      ansible.builtin.include_tasks: verify.yml
      when:
        - matomo_verify is defined
        - matomo_verify | bool
      tags:
        - matomo_verify

    - name: Include variables checks
      ansible.builtin.include_tasks: check_variables.yml
      tags:
        - matomo_config
        - matomo_settings

    - name: Include Matomo local facts tasks
      ansible.builtin.include_tasks: local_facts.yml
      when:
        - matomo_local_facts is defined
        - matomo_local_facts is defined
      tags:
        - matomo_config
        - matomo_settings

    - name: Include apt role local fact tasks
      ansible.builtin.include_role:
        name: apt
        tasks_from: local_facts.yml
      when: >-
        ( ansible_local.dpkg.arch is not defined ) or
        ( ansible_local.dpkg.installed is not defined ) or
        ( ansible_local.gpg.version is not defined ) or
        ( ansible_local.bash.path is not defined )

    - name: Matomo upgrade
      block:

        - name: Debug version variables
          ansible.builtin.debug:
            msg:
              - "Matomo automatic update: {{ matomo_autoupdate }}"
              - "Matomo version (from defaults): {{ matomo_version }}"
              - "Matomo installed (checked on the server): {{ matomo_installed }}"
              - "Matomo required (based on autoupdate): {{ matomo_required }}"
              - "Matomo latest (checked via https://builds.matomo.org/LATEST): {{ matomo_latest }}"
            verbosity: 1

        - name: Warn if the installed version is older than the latest version
          ansible.builtin.debug:
            msg: "The installed Matomo version {{ matomo_installed }}, is older than the latest Matomo {{ matomo_latest }}."
          when: matomo_installed is ansible.builtin.version(matomo_latest, '<')

        - name: Warn if the installed version is newer than the required version
          ansible.builtin.debug:
            msg: "Downgrading from the installed Matomo version {{ matomo_installed }}, to the required version, Matomo {{ matomo_required }}, is not supported so has been skipped."
          when: matomo_installed is ansible.builtin.version(matomo_required, '>')

        - name: Include upgrade tasks
          ansible.builtin.include_tasks: upgrade.yml
          when: matomo_installed is ansible.builtin.version(matomo_required, '<')

        - name: Include file delete tasks
          ansible.builtin.include_tasks: delete_files.yml
          when:
            - matomo_installed is ansible.builtin.version('5.1.0', '<=')
            - matomo_installed in matomo_delete_files_scripts

      when: ( matomo_autoupdate is defined ) and ( matomo_installed is defined) and ( matomo_required is defined )

    - name: Include install tasks
      ansible.builtin.include_tasks: install.yml
      when: ( matomo_config_check is defined ) and ( not matomo_config_check.stat.exists | bool )

    - name: Include geolocation tasks
      ansible.builtin.include_tasks: geolocation.yml

    - name: Include settings tasks
      ansible.builtin.include_tasks: settings.yml
      tags:
        - matomo_config
        - matomo_settings

    - name: Include cron tasks
      ansible.builtin.include_tasks: cron.yml
      when: ( matomo_cron is defined ) and ( matomo_cron | bool )

    - name: Include completion tasks
      ansible.builtin.include_tasks: completion.yml
      when: matomo_installed is ansible.builtin.version('5.0.0', '>=')

  when: matomo | bool
  tags:
    - matomo
...
