---
# https://matomo.org/docs/update/#the-manual-three-step-update
- name: The ~/.ansible directory exists
  file:
    path: "{{ matomo_home }}/.ansible"
    state: directory
    owner: "{{ matomo_user }}"
    group: "{{ matomo_user }}"
    mode: 0700

- name: The ~/.gnupg directory exists
  file:
    path: "{{ matomo_home }}/.gnupg"
    state: directory
    owner: "{{ matomo_user }}"
    group: "{{ matomo_user }}"
    mode: 0700

- name: The Matomo GPG public key is present
  get_url:
    url: https://builds.piwik.org/signature.asc
    dest: "{{ matomo_private }}/matomo.pub"
  become: yes
  become_user: "{{ matomo_user }}"

- name: The Matomo GPG public key is imported
  command: "gpg --no-tty --import {{ matomo_private }}/matomo.pub"
  register: matomo_gpg_key_import
  changed_when: "'not changed' not in matomo_gpg_key_import.stderr"
  become: yes
  become_user: "{{ matomo_user }}"

- name: Include version check tasks
  include_tasks: check.yml

- name: Include install tasks
  include_tasks: install.yml
  when: matomo_config_check.stat.exists == False

- name: Include upgrade tasks
  include_tasks: upgrade.yml
  when: ( matomo_config_check.stat.exists ) and ( matomo_installed.stdout != matomo_latest )

- name: Include version check tasks
  include_tasks: check.yml
