---
- name: Apply Matomo settings
  block:

    # TODO Use a dictionary to define general config settings, for example:
    # matomo_config_general:
    #   force_ssl: 1
    #   login_allow_logme: 1

    - name: "Check the Matomo force_ssl setting for {{ matomo_user }}"
      command: php console --no-ansi -n config:get --section="General" --key="force_ssl" --format="text"
      args:
        chdir: "{{ matomo_html }}"
      changed_when: false
      check_mode: false
      register: matomo_force_ssl
      become: true
      become_user: "{{ matomo_user }}"

    - name: "Set force_ssl to true for {{ matomo_user }}"
      command: php console --no-ansi -n config:set --section="General" --key="force_ssl" --value="1"
      args:
        chdir: "{{ matomo_html }}"
      become: true
      become_user: "{{ matomo_user }}"
      when: matomo_force_ssl.stdout != "General.force_ssl = 1"

    - name: "Check the Matomo login_allow_logme setting for {{ matomo_user }}"
      command: php console --no-ansi -n config:get --section="General" --key="login_allow_logme" --format="text"
      args:
        chdir: "{{ matomo_html }}"
      changed_when: false
      check_mode: false
      register: matomo_login_allow_logme
      become: true
      become_user: "{{ matomo_user }}"

    - name: "Set login_allow_logme to true for {{ matomo_user }}"
      command: php console --no-ansi -n config:set --section="General" --key="login_allow_logme" --value="1"
      args:
        chdir: "{{ matomo_html }}"
      become: true
      become_user: "{{ matomo_user }}"
      when: matomo_login_allow_logme.stdout != "General.login_allow_logme = 1"

    - name: "Check the Matomo salt setting for {{ matomo_user }}"
      command: php console --no-ansi -n config:get --section="General" --key="salt" --format="text"
      args:
        chdir: "{{ matomo_html }}"
      changed_when: false
      check_mode: false
      register: matomo_salt
      become: true
      become_user: "{{ matomo_user }}"

    - name: Generate and set a random string for the salt
      block:

        # TODO
        # https://docs.ansible.com/ansible/latest/collections/community/general/random_string_lookup.html

        - name: "Random string generated for Matomo salt for {{ matomo_user }}"
          command: pwgen -n 33 1
          register: matomo_salt_pwgen
          # no_log: true

        - name: "Random string generated for Matomo salt for {{ matomo_user }}"
          set_fact:
            matomo_salt: "{{ matomo_salt_pwgen.stdout | trim }}"
          # no_log: true

        - name: "Set salt for {{ matomo_user }}"
          command: 'php console --no-ansi -n config:set --section="General" --key="salt" --value="{{ matomo_salt }}"'
          args:
            chdir: "{{ matomo_html }}"
          become: true
          become_user: "{{ matomo_user }}"
          # no_log: true

      when: matomo_salt.stdout == "Nothing found"

  tags:
    - matomo
...
