---
- name: "Set force_ssl to true for {{ matomo_user }}"
  shell: "php console config:set --no-ansi -n --section='General' --key='force_ssl' --value='1'"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  become: true
  become_user: "{{ matomo_user }}"
  when: ( matomo_config_general is defined ) and ( "force_ssl 1" not in matomo_config_general.stdout_lines )
  tags:
    - matomo
...
