---
- name: Ensure that a Matomo site is present
  block:

    - name: Check that required variables are defined
      assert:
        that:
          - ( matomo_url is defined ) and ( matomo_url | length > 0 )
          - ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )
          - ( matomo_site_main_url is defined ) and ( matomo_site_main_url | length > 0 )

    - name: Set matomo_existing_site_ids to an empty array
      set_fact:
        matomo_existing_site_ids: []

    - name: "Check if there is a Matomo site ID for {{ matomo_site_main_url }}"
      include_tasks: get_sites_id_from_site_url.yml
      vars:
        url: "{{ matomo_site_main_url }}"

    - name: "Check if there is a Matomo site ID for site URLs other than the main one"
      include_tasks: get_sites_id_from_site_url.yml
      loop: "{{ matomo_site_urls }}"
      loop_control:
        loop_var: url
      when: ( matomo_site_urls is defined ) and ( matomo_site_urls != [] )

    - name: Print the matomo_existing_site_ids
      debug:
        var: matomo_existing_site_ids
        verbosity: 2
      when: matomo_existing_site_ids is defined

    - name: This Ansible role only supports having one Matomo site per URL
      fail:
        msg:
          - "There appears to be more than one Matomo site with the same URL"
          - "Please login and check these site IDs: {{ matomo_existing_site_ids }}"
          - "and this main URL {{ matomo_site_main_url }}"
          - "{% if matomo_site_urls is defined %}and these other URLs {{ matomo_site_urls }}{% endif %}"
      when: ( matomo_existing_site_ids is defined ) and ( matomo_existing_site_ids[1] is defined )

    - name: Add new site to Matomo server
      include_tasks: add_site.yml
      when: ( matomo_existing_site_ids is not defined ) or ( matomo_existing_site_ids[0] is not defined )

    - name: Check and update URLs
      block:

        - name: Set the matomo_site_id and set arrays for Matomo existing and proposed site URLs
          set_fact:
            matomo_site_id: "{{ matomo_existing_site_ids[0] }}"
            matomo_existing_site_urls: []
            matomo_proposed_site_urls:
              - "{{ matomo_site_main_url }}"

        - name: Add URLs to Matomo site proposed URLs
          set_fact:
            matomo_proposed_site_urls: "{{ matomo_proposed_site_urls }} + [ '{{ url }}' ]"
          loop: "{{ matomo_site_urls }}"
          loop_control:
            loop_var: url
          when: ( matomo_site_urls is defined ) and ( matomo_site_urls != [] )

        - name: "Get the existing Matomo site URLs for idSite {{ matomo_existing_site_ids[0] }}"
          include_tasks: get_site_urls_from_id.yml
          vars:
            id: "{{ matomo_existing_site_ids[0] }}"

        - name: Set variables for the sorted and unique existing and proposed URL
          set_fact:
            matomo_existing_site_urls_sorted: "{{ matomo_existing_site_urls | sort | unique }}"
            matomo_proposed_site_urls_sorted: "{{ matomo_proposed_site_urls | sort | unique }}"

        - name: Debug existing URLs
          debug:
            var: matomo_existing_site_urls_sorted
            verbosity: 2

        - name: Debug matomo_proposed_site_urls_sorted
          debug:
            var: matomo_proposed_site_urls_sorted
            verbosity: 2

        - name: Include update Matomo site tasks when existing URLs don't match the proposed ones
          include_tasks: update_site.yml
          when: ( matomo_existing_site_urls_sorted | difference(matomo_proposed_site_urls_sorted) | length > 0 ) or ( matomo_proposed_site_urls_sorted | difference(matomo_existing_site_urls_sorted) | length > 0 )

      when: ( matomo_existing_site_ids is defined ) and ( matomo_existing_site_ids[0] is regex("^[0-9]{1,9}$") )

  tags:
    - matomo
...
