---
- name: Update an existing Matomo site
  block:

    - name: Check that required variables are defined
      assert:
        that:
          - ( matomo_url is defined ) and ( matomo_url | length > 0 ) and ( matomo_url is regex("^http[s]*:\/\/.*$") )
          - ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )
          - ( matomo_site_id is defined ) and ( matomo_site_id is regex("^[0-9]{1,9}$") )
          - ( matomo_site_name is defined ) and ( matomo_site_name | length > 0 )
          - ( matomo_site_main_url is defined ) and ( matomo_site_main_url | length > 0 )

# TODO Rewrite for this
# https://developer.matomo.org/api-reference/reporting-api#passing-an-array-of-data-as-a-parameter

    - name: Set an empty variable for the site URLs
      set_fact:
        matomo_urls: ""

    - name: Check that the optional variable matomo_site_urls is valid if defined
      block:

        - name: Ensure that matomo_site_urls start with http(s)://
          assert:
            that:
              - ( url is regex("^http[s]*:\/\/.*$") )
          loop: "{{ matomo_site_urls }}"
          loop_control:
            loop_var: url

        - name: Debug all the site URLs backwards
          debug:
            msg: "{{ url }}, {{ matomo_urls }}"
          loop: "{{ matomo_site_urls | reverse | list }}"
          loop_control:
            loop_var: url

        - name: Set a fact for all the site URLs
          set_fact:
            matomo_urls: "{{ url }}, {{ matomo_urls }}"
          loop: "{{ matomo_site_urls | reverse | list }}"
          loop_control:
            loop_var: url

      when: ( matomo_site_urls is defined ) and ( matomo_site_urls[0] is defined )

    - name: Add the mail URL to the start of the URLs list
      set_fact:
        matomo_urls: "{{ matomo_site_main_url }}{% if matomo_urls | length > 0 %}, {{ matomo_urls }}{% endif %}"

    - name: Debug URL variable
      debug:
        var: matomo_urls
        verbosity: 2

    - name: "Update Matomo site {{ matomo_site_name }} with main URL {{ matomo_site_main_url }}"
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: SitesManager.updateSite
          siteName: "{{ matomo_site_name }}"
          idSite: "{{ matomo_site_id }}"
          urls: "{{ urls }}"
          status_code: 200
          return_content: true
      register: users_matomo_update_site
      failed_when: ( users_matomo_update_site.failed is defined and users_matomo_update_site.failed ) or ( users_matomo_update_site.json.result is defined and users_matomo_update_site.json.result != "success" )

    - name: Debug users_matomo_update_site
      debug:
        var: users_matomo_update_site
        verbosity: 2

  tags:
    - matomo
...
