---
- name: Update Matomo user account password
  block:

    - name: Generate a random string for Matomo password
      command: pwgen -n 20 1
      register: matomo_login_password_gen
      no_log: true

    - name: Set a variable with the random password
      set_fact:
        matomo_login_password: "{{ matomo_login_password_gen.stdout }}"
      no_log: true

    - name: Update users password using the API
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: UsersManager.updateUser
          userLogin: "{{ matomo_login }}"
          passwordConfirmation: "{{ matomo_password }}"
          password: "{{ matomo_login_password }}"
      register: matomo_api_update_user

    - name: Debug matomo_api_update_user
      debug:
        var: matomo_api_update_user
        verbosity: 2

    - name: "Update the password for {{ matomo_user }} in {{ matomo_accounts_file }}"
      blockinfile:
        path: "{{ matomo_accounts_file }}"
        block: |
          - login: {{ matomo_login | quote }}
            email: {{ matomo_login_email | quote }}
            password: {{ matomo_login_password | quote }}
        marker: "# {{ matomo_login }} <{{ matomo_login_email }}> {mark}"
        mode: 0600
        owner: "{{ matomo_user }}"
        group: "{{ matomo_group }}"
      when:
        - ( matomo_accounts_file is defined ) and ( matomo_accounts_file | length > 0 )
        - ( matomo_accounts_file_path is defined ) and ( matomo_accounts_file_path.stat.exists )

    - name: "Email address update notification email sent to {{ matomo_login_email }}"
      mail:
        from: "{{ matomo_email_from | default('Webarchitects') }} <root@{{ inventory_hostname }}>"
        to: "{{ matomo_login_email }}"
        subject: "[{{ matomo_email_subject_tag | default('webarchitects') }}] Matomo password updated for {{ matomo_login }} on {{ matomo_url }}"
        headers: "{{ matomo_notify_headers }}"
        # https://github.com/ansible/ansible/issues/58543
        charset: us-ascii
        body: "{{ lookup('template', 'templates/notify_matomo_update_password.j2') }}"
        host: localhost
        port: 25
        secure: never

  tags:
    - matomo
...
