---
- name: Update an existing Matomo site
  block:

    - name: Check that required variables are defined
      assert:
        that:
          - ( matomo_url is defined ) and ( matomo_url | length > 0 ) and ( matomo_url is regex("^http[s]*:\/\/.*$") )
          - ( matomo_token_auth is defined ) and ( matomo_token_auth | length > 0 )
          - ( matomo_site_id is defined ) and ( matomo_site_id is regex("^[0-9]{1,9}$") )
          - ( matomo_site_name is defined ) and ( matomo_site_name | length > 0 )
          - ( matomo_site_main_url is defined ) and ( matomo_site_main_url | length > 0 )

    - name: Ensure that matomo_site_urls start with http(s)://
      assert:
        that:
          - ( url is regex("^http[s]*:\/\/.*$") )
      loop: "{{ matomo_site_urls }}"
      loop_control:
        loop_var: url
      when: ( matomo_site_urls is defined ) and ( matomo_site_urls[0] is defined )

    - name: Debug the update site POST data
      debug:
        msg: "{{ lookup('template', 'update_site.yml.j2') | to_json }}"
        verbosity: 2

    - name: "Update Matomo site {{ matomo_site_name }} with main URL {{ matomo_site_main_url }}"
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: json
        body: "{{ lookup('template', 'update_site.yml.j2') | to_json }}"
      register: users_matomo_update_site
      failed_when: ( users_matomo_update_site.failed is defined and users_matomo_update_site.failed ) or ( users_matomo_update_site.json.result is defined and users_matomo_update_site.json.result != "success" )

    - name: Debug users_matomo_update_site
      debug:
        var: users_matomo_update_site
        verbosity: 2

  tags:
    - matomo
...
