---
- name: Matomo download tasks included
  include_tasks: download.yml
  tags:
    - matomo

- name: Backup up the Matomo config file
  copy:
    remote_src: true
    src: "{{ matomo_html }}/config/config.ini.php"
    dest: "{{ matomo_private }}/config.ini.php.{{ ansible_date_time.date }}.{{ ansible_date_time.time }}.bak"
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Latest Matomo rsynced over last version
  shell: "rsync -aq {{ matomo_private }}/matomo/ {{ matomo_html }}/"
  args:
    executable: /bin/bash
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo

- name: Matomo extratools tasks included
  include_tasks: extratools.yml
  tags:
    - matomo

- name: Matomo userconsole tasks included
  include_tasks: userconsole.yml
  tags:
    - matomo

- name: Matomo database upgraded
  shell: "php console --no-ansi -n core:update --yes"
  args:
    executable: /bin/bash
    chdir: "{{ matomo_html }}"
  become: true
  become_user: "{{ matomo_user }}"
  tags:
    - matomo
