---
- name: Matomo user present
  block:

    - name: Check variables
      assert:
        that:
          - ( matomo_login is defined ) and ( matomo_login is regex("^[a-zA-Z0-9-]{2,14}$") )
          - ( matomo_login_email is defined ) and ( matomo_login_email is regex("^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$") )
          - ( matomo_token_auth is defined )
          - ( matomo_password is defined )
          - ( matomo_url is defined )

    - name: "Check if a Matomo login named {{ matomo_login }} exists using the API"
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: UsersManager.userExists
          userLogin: "{{ matomo_login }}"
      register: matomo_api_user_exists

    - name: Debug matomo_api_user_exists
      debug:
        var: matomo_api_user_exists
        verbosity: 2

    - name: "Check if a Matomo login with the email address {{ matomo_login_email }} exists using the API"
      uri:
        url: "{{ matomo_url }}"
        method: POST
        body_format: form-urlencoded
        body:
          module: API
          format: JSON
          token_auth: "{{ matomo_token_auth }}"
          method: UsersManager.getUserLoginFromUserEmail
          userEmail: "{{ matomo_login_email }}"
      register: matomo_api_get_user_login_from_user_email

    # When a login exists the username is returned:
    # matomo_api_get_user_login_from_user_email.json.value == "login"
    #
    # When a login doesn't exist:
    # matomo_api_get_user_login_from_user_email.json.result == "error"

    - name: Debug matomo_api_get_user_login_from_user_email
      debug:
        var: matomo_api_get_user_login_from_user_email
        verbosity: 2

    - name: If matomo_accounts_file is defined
      block:

        - name: "Stat {{ matomo_accounts_file }}"
          stat:
            path: "{{ matomo_accounts_file }}"
          register: matomo_accounts_file_path

        - name: "Read account details from {{ matomo_accounts_file }}"
          block:

            - name: "Slurp account information from {{ matomo_accounts_file }}"
              slurp:
                src: "{{ matomo_accounts_file }}"
              register: matomo_accounts_file_b64encoded

            - name: "Set a fact for the account details in {{ matomo_accounts_file }}"
              set_fact:
                matomo_accounts: "{{ matomo_accounts_file_b64encoded['content'] | b64decode | from_yaml | list }}"

            - name: Debug matomo_accounts
              debug:
                var: matomo_accounts
                verbosity: 2

            - name: Set a fact for the matomo_login_password
              set_fact:
                matomo_account_login_password: "{{ account.password }}"
              when: account.login == matomo_login
              loop: matomo_accounts
              loop_control:
                loop_var: account

             # https://matomo.org/faq/how-to/faq_30/
            - name: Check that the matomo_account_login_password is correct
              uri:
                url: "{{ matomo_url }}"
                method: POST
                body_format: form-urlencoded
                body:
                  module: Login
                  action: logme
                  login: "{{ matomo_login }}"
                  password: "{{ matomo_account_login_password | hash('md5') }}"
              register: matomo_logme

            - name: Debug matomo_logme
              debug:
                var: matomo_logme
                verbosity: 2

            - name: Debug fail
              fail:
                msg: debug

          when: ( matomo_accounts_file_path is defined ) and ( matomo_accounts_file_path.stat.exists )

      when: ( matomo_accounts_file is defined ) and ( matomo_accounts_file | length > 0 )

    - name: Include add Matomo user tasks
      include_tasks: add_user.yml
      when:
        - ( matomo_api_user_exists.json is defined )
        - ( matomo_api_user_exists.json.value is defined )
        - ( not matomo_api_user_exists.json.value )
        - ( matomo_api_get_user_login_from_user_email is defined )
        - ( matomo_api_get_user_login_from_user_email.json is defined )
        - ( matomo_api_get_user_login_from_user_email.json.value is not defined )
        - ( matomo_api_get_user_login_from_user_email.json.result is defined )
        - ( matomo_api_get_user_login_from_user_email.json.result == "error" )
        - ( matomo_api_get_user_login_from_user_email.json.message is regex("^.*doesn\'t\ exist\.$") )

    # - name: Include update Matomo user login tasks when the email address is used by another account

    - name: Include update Matomo user email address tasks when the email address isn't used by an existing account
      include_tasks: update_email.yml
      when:
        - ( matomo_api_user_exists.json is defined )
        - ( matomo_api_user_exists.json.value is defined )
        - ( matomo_api_user_exists.json.value )
        - ( matomo_api_get_user_login_from_user_email is defined )
        - ( matomo_api_get_user_login_from_user_email.json is defined )
        - ( matomo_api_get_user_login_from_user_email.json.value is not defined )
        - ( matomo_api_get_user_login_from_user_email.json.result is defined )
        - ( matomo_api_get_user_login_from_user_email.json.result == "error" )
        - ( matomo_api_get_user_login_from_user_email.json.message is regex("^.*doesn\'t\ exist\.$") )

    - name: Set the matomo_login when a Matomo account with a matching email address already exists
      set_fact:
        matomo_login: "{{ matomo_api_get_user_login_from_user_email.json.value }}"
      when:
        - ( matomo_api_user_exists.json is defined )
        - ( matomo_api_user_exists.json.value is defined )
        - ( not matomo_api_user_exists.json.value )
        - ( matomo_api_get_user_login_from_user_email.json.value is defined )

  tags:
    - matomo
...
