{
  "module": "API",
  "format": "JSON",
  "token_auth": "{{ matomo_token_auth }}",
  "method": "SitesManager.addSite",
  "siteName": "{{ matomo_site_name }}",
{% if matomo_site_urls is not defined or matomo_site_urls == [] %}
  "urls[0]": "{{ matomo_site_main_url }}"
{% elif matomo_site_urls is defined and matomo_site_urls != [] %}
  "urls[0]": "{{ matomo_site_main_url }}",
{%     for u in matomo_site_urls %}
{%         if not loop.last | bool %}
  "urls[{{ loop.index }}]": "{{ u }}",
{%         else %}
  "urls[{{ loop.index }}]": "{{ u }}"
{%         endif %}
{%     endfor %}
{% endif %}
}
