#!/usr/bin/env bash

mysql -BNe "SELECT JSON_ARRAYAGG(JSON_OBJECT('id', {{ matomo_db_prefix }}site.idsite, 'name', {{ matomo_db_prefix }}site.name, 'main_url', {{ matomo_db_prefix }}site.main_url, 'urls', (SELECT JSON_ARRAYAGG({{ matomo_db_prefix }}site_url.url) FROM {{ matomo_db_prefix }}site_url WHERE {{ matomo_db_prefix }}site.idsite = {{ matomo_db_prefix }}site_url.idsite), 'users', (SELECT JSON_ARRAYAGG({{ matomo_db_prefix }}access.login) FROM {{ matomo_db_prefix }}access WHERE {{ matomo_db_prefix }}site.idsite = {{ matomo_db_prefix }}access.idsite))) FROM {{ matomo_db_prefix }}site;" {{ matomo_dbname }} | jq
