Hi

Your Matomo account password for {{ matomo_url | quote }} has been updated:

  Username:	{{ matomo_login_existing | quote }}
  Password:	{{ matomo_login_password | quote }}
  URL:          {{ matomo_url | quote }}

All the best

{{ matomo_notify_reply_to }}

-- 
{{ matomo_notify_signature }}
