Hi

Your Matomo superuser account details for {{ matomo_url | quote }}

  Username:	{{ matomo_first_user | quote }}
  Password:	{{ matomo_first_user_pass | quote }}
  URL:          {{ matomo_url | quote }}

All the best

{{ matomo_notify_from | default('Webarchitects') }}

-- 
{{ matomo_notify_signature | default('Webarch Co-operative Limited\nhttps://www.webarch.coop/') }}
