Hi

Your Matomo account details for {{ matomo_url | quote }}

  Username: {{ matomo_login | quote }}
  Password: {{ matomo_login_password | quote }}
  URL:      {{ matomo_url | quote }}

All the best

{{ matomo_notify_reply_to }}

-- 
{{ matomo_notify_signature }}
