Hi

Your Matomo account details for {{ matomo_url }}

  Username:	{{ matomo_first_user }}
  Password:	{{ matomo_first_user_pass }}
  URL:          {{ matomo_url }}

All the best

{{ matomo_notify_from | default('Webarchitects') }}

-- 
{{ matomo_notify_signature | default('Webarch Co-operative Limited\nhttps://www.webarch.coop/') }}
