Hi

The email address for {{ matomo_login }} on {{ matomo_url }}
has been updated from {{ matomo_login_email_existing }} 
to {{ matomo_login_email }}.

You may request a password reset email at {{ matomo_url }} 

All the best

{{ matomo_notify_reply_to }}

-- 
{{ matomo_notify_signature }}
