Hi

Your Matomo account details for {{ matomo_url | quote }}

  Username:	{{ matomo_login | quote }}
  Password:	{{ matomo_login_password | quote }}
  URL:          {{ matomo_url | quote }}

All the best

{{ matomo_notify_from | default('Webarchitects') }}

-- 
{{ matomo_notify_signature | default('Webarch Co-operative Limited\nhttps://www.webarch.coop/') }}
